html {
    scroll-behavior: smooth
}

h1 {
    text-align: center;
    font-size:250%
}

img {
    height: auto;
    width: 75%;
    border-radius:10px;
}

body {
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size:20px;
    
}

#movie-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

#search-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

/* id is hashtag */
#my-form {
    padding:20px;
}
#close-search-btn {
    margin-right:5px;
    margin-left:auto;
    /* padding:10px; */
    font-size:20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.broad-close {
    padding:20px;
}

.load-more-movies-btn {
    margin-right:auto;
    margin-left:auto;
}  

.movie-card {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  
}

#popup-card {
    color:black;
    text-align:center;
    position:fixed;
    padding:10px;
    height:auto;
    width:60%;
   
    align-items: center;
}

.movie-card .movie-poster:hover {
    transform: translate3d(0px, -6px, 0px);
    transition-duration:0.75s
}  

#load-more-movies-btn {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size:20px;
    background-color:transparent;
    outline:none;

}

.load-more {
    display: flex;
    justify-content: center;
}

#popup {
    position: fixed; 
    top: 0;
    width: 100%; 
    height: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, .8);
    /* background-color: white;
    opacity: 20%; */
    display: none;
    place-items: center;
    align-items: center;
}

.popup-close {
    display: flex; 
    justify-content: center;
    z-index: 10;
    padding: 10px;
    outline: none;
    border: none;
    color: white;
}

#close-popup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 10px;
    outline: none;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    /* background: rgba(255, 255, 255, 0); */
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.movie-trailer-wrapper {
    display: flex; 
    justify-content: center;
    z-index: 10;
    padding: 40px;
    outline: none;
    border: none;
    color: white;
}

#open-trailer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 10px;
    outline: none;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    /* background: rgba(255, 255, 255, 0); */
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#popcorn {
    width:8%;
    height:8%;
    padding-top:1px;
}

#my-form {
    /* display: flex; */
    font-size: 30px;
    align-items: center;
    margin: 0px auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
}

#search-input {
    width:80%;
    height:10%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:30px;
    /* align-items: center;
    margin: 0px auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; */
}

#search {
    padding-right: 5px;
}


